@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Body styles */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #f34949;
    color: #333;
}

/* Container styles */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Header styles */
/* .section-navbar {
    background-color: #fffdfe;
    color: #fff;
    padding: 20px 0;
    height: 80px;
}

.navbar-brand {
    font-size: 24px;
    font-weight: bold;
    margin: 5px;
}

.navbar-list {
    list-style-type: none;
}

.navbar-list li {
    display: inline-block;
    margin-right: 20px;
}

.navbar-list li:last-child {
    margin-right: 0;
}

.navbar-btn {
    padding: 10px 20px;
    margin-top:0px;
    background-color: #fff;
    color: #f12314;
    text-decoration: none;
    border-radius: 5px;
}

.navbar-btn:hover {
    background-color: #f12525;
    color: #fff;
} */

/* Main styles */
main {
    padding: 40px 0;
}

.flex-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form {
    flex: 1;
    background-color: #fff;
    padding: 20px;
    width: 40rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form h1 {
    margin-bottom: 20px;
    text-align: center;
}

.table {
    width: 100%;
}

.table tr td {
    padding: 10px;
}

.table tr td label {
    display: block;
    margin-bottom: 5px;
    font-family: 'Poppins', sans-serif;
}

.table tr td input[type="text"],
.table tr td select {
    width: calc(100% - 20px);
    padding: 5px;
    margin-bottom: 10px;
}

.table tr td input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #dd2c18;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.table tr td input[type="submit"]:hover {
    background-color: #e86460;
    color: #333;
}

.result {
    flex: 1;
    background-color: #fff;
    padding: 15px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 70rem;
}

.result h1 {
    text-align: center;
}

.stocktable {
    margin: 10px;

}

.row {

    width: 100%;
    text-align: center;
    font-size: medium;
}

th {
    padding: 5px;
}


.section-navbar {
    width: 100%;
    height: auto;
    background-color: #fff;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;

    /* background-color: chocolate; */

}

.section-navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0 1rem 3rem;



    & .navbar-brand {
        font-size: 4rem;
        font-weight: bold;
        margin: 0 0 0 4rem;
    }

    & .logo {
        color: rgb(181, 9, 9);

    }

}

.section-navbar .navbar ul {
    display: flex;
    gap: 7rem;
    font-size: 2rem;


    & li a {
        text-transform: uppercase;
        font-weight: 600;
        display: inline-block;
        position: relative;
    }

    & .navbar-btn {
        position: absolute;
        right: 8%;
    }


}

.containerf {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}