* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Times New Roman', Times, serif
        /* 1rem=10px */
}

/* FOR ALL ANCHOR TAG */
a {
    text-decoration: none;
    color: black;
}

/* FOR ALL LIST TAGS */

li {
    list-style: none;
}

/* FOR ALL THE BUTTON */
.btn {
    display: inline;
    margin-top: -0.5rem;
    padding: 0.5rem 2rem;
    font-size: 2rem;
    background-color: rgb(252, 135, 135);
    color: white;
    /* box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px; */
    border-radius: 0.6rem;
    -webkit-border-radius: 0.6rem;
    -moz-border-radius: 0.6rem;
    -ms-border-radius: 0.6rem;
    -o-border-radius: 0.6rem;
}

.btn:hover {
    background-color: rgb(227, 13, 13);
    color: rgb(255, 255, 255);
    font-weight: 700;
    cursor: pointer;

}

/* FOR ALL THE CONTAINER  */
.container {
    max-width: 142rem;
    margin: 0 auto;
    padding: 7.88rem 2.4rem;
}

/* FOR ALL THE GRIDS */
.grid {
    display: grid;
}

.grid-two--cols {
    grid-template-columns: repeat(2, 1fr);
}

.grid-three--cols {
    grid-template-columns: repeat(3, 1fr);
}

.grid-four--cols {
    grid-template-columns: repeat(4, 1fr);
}

/* NAVBAR STARTS FROM HERE */
.section-navbar {
    width: 100%;
    height: auto;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;

    /* background-color: chocolate; */

}

.section-navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0 1rem 3rem;



    & .navbar-brand {
        font-size: 4rem;
        font-weight: bold;
        margin: 0 0 0 4rem;
    }

    & .logo {
        color: rgb(181, 9, 9);

    }

}

.section-navbar .navbar ul {
    display: flex;
    gap: 7rem;
    font-size: 2rem;


    & li a {
        text-transform: uppercase;
        font-weight: 600;
        display: inline-block;
        position: relative;
    }

    & .navbar-btn {
        position: absolute;
        right: 8%;
    }


}

/* NAVBAR ENDS FROM HERE */


main {
    position: relative;
    /* background-color: brown; */
    width: 100%;
    height: auto;

    /* background: rgb(251,251,251);
background: linear-gradient(90deg, rgba(251,251,251,1) 5%, rgba(245,15,15,0.5551470588235294) 69%); */
    .custom-shape-divider-bottom-1714063182 {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
        transform: rotate(180deg);
    }

    .custom-shape-divider-bottom-1714063182 svg {
        position: relative;
        display: block;
        width: calc(100% + 1.3px);
        height: 69px;
    }

    .custom-shape-divider-bottom-1714063182 .shape-fill {
        fill: #FC2D2D;
    }
}

/* FOR BOTH THE GRIDS IN HERO SECTION  */

.section-hero .grid {
    align-items: center;
    gap: 8rem;
    padding: 2rem;
    margin-bottom: 2.4rem;

    /* padding-top: 7rem; */

    /* & .hero-subheading{
             font-size: 1.8rem;
             font-weight: 700;
             letter-spacing: 0.2rem;
             word-spacing: 0.2rem;
             color: white;

    } */

    & .hero-heading {
        font-size: 3.5rem;
        color: red;
    }

    & .hero-para {
        color: rgb(3, 13, 21);
        margin: 2rem;
        line-height: 1.5;
        font-size: 2rem;
    }

    & .hero-para1 {
        font-size: 3rem;
        padding-top: 1rem;
        padding-left: 2rem;
    }

    & .hero-icons {
        & .icon-h {
            font-size: 2rem;
            margin-top: 2rem;
        }

        & .icon-para {
            font-size: 2rem;
        }
    }

    & .hero-icon-style {
        & .fa-solid {
            font-size: 5rem;
            color: #FC2D2D;
            padding-top: 1rem;

        }
    }

}

.hero-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & .hero-image-overlap {
        width: 50rem;

        & .para {
            font-size: 2rem;
        }
    }
}

.hero-image img {

    width: 80%;
    height: 30rem;

    box-shadow: rgb(238, 222, 227);
}


.conatiner {
    & .info-div {
        background-color: #FC2D2D;
        border-radius: 2rem;
        -webkit-border-radius: 2rem;
        -moz-border-radius: 2rem;
        -ms-border-radius: 2rem;
        -o-border-radius: 2rem;
    }

}